@import "tailwindcss";

@theme {
  --font-display: "Plus Jakarta Sans", sans-serif;
  --font-script: "Great Vibes", cursive;
  --font-body: "Epilogue", sans-serif;
  --font-playfair: "Playfair Display", serif;

  --color-primary: #e8304f;
  --color-primary-dark: #d12b45;
  --color-background-light: #f8f6f6;
  --color-background-dark: #211114;
  --color-border: #e5e7eb;

  --radius-DEFAULT: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
}

@layer base {

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f8f6f6;
  }

  * {
    @apply border-border;
  }
}

@layer utilities {
  .perspective-container {
    perspective: 1200px;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .glass-panel {
    @apply bg-white/30 backdrop-blur-md border border-white/40 shadow-sm;
  }
}